 <aside>
    <h1 class="widget-title">links</h1>
    <div class="links">
      <%
      var links = site.data.links;
  		 _.forEach(links, function(link){  %>
		 	<a target="_blank" href="<%- link.link%>"><%- link.name %></a>
  		 <%});
       %>
    </div>
</aside>	